<div class="main-container" @pageChange>
    <input class="searchbar" type="text" placeholder="Search..." (keyup)="filter($any($event.target).value)" [(ngModel)]="SearchText" >
    <div class="notes-list">
        <app-note-card *ngFor="let note of filteredNotes; let i = index" style="display: block;" [routerLink]="[note.id]" (delete)="deleteNote(note.id); filter(SearchText)" [title]="note.title" [body]="note.note" [@noteCardsAnim]></app-note-card>
    </div>
    <button class="addNote" routerLink="new">+</button>
</div>