.note-card-container{
    position: relative;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 2px 15px 1px rgba(black, 0.15);
    transition: 0.3s;
    display: block;
    margin-bottom: 20px;
    cursor: pointer;

    &:hover{
        transform: scale(1.05);
        box-shadow: 0px 0px 0px 1px rgba(black, 0.1);
        border-color: gray;

        .delete{
            opacity: 1;
        }
    }

    .notes-card-content{
        margin: 0.3rem;
        padding: 15px;
        text-align: left;

        .note-card-title{
            margin: 0;
            padding-bottom: 5px;
            font-weight: bold;
            overflow: hidden;
        }

        .note-card-body{
            position: relative;
            max-height: 80px;
            overflow-y: hidden;
            display: block;
            line-height: 1.5rem;
            .fade-out{
                position: absolute;
                bottom: 0;
                height: 40%;
                width: 100%;
                background: linear-gradient(to top, rgba(white, 100%) 0%,rgba(white,0.8) 50%, rgba(white,0%) 100%);
                pointer-events: none;
            }
        }
    }
}

.delete{
    position: absolute;
    top: 10px;
    right: 10px;
    height: 30px;
    width: 30px;
    opacity: 0;
    transition: 0.15s linear;

    &:hover{
        color: red;
        transform: scale(1.1);
    }
}

a {
    text-decoration: none;
}
a:link, a:visited {
    color: black;
}
a:hover {
    color: black;
}
@media only screen and (max-width: 900px){
    .delete{
        opacity: 1;
    }
}